<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Supervisores.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88CF990521ECD21200E46F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CF991C21ECD21400E46F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CF992721ECD21400E46F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
