<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmptyTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
				<key>dateExpires</key>
				<string>2/7/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AKImageCropperView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EVGPUImage2.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAnnotationClusteringSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KANavigationDrawerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>688ACB4F2BDCF3AECEAE70B31F839548313C6957</string>
						<key>dateExpires</key>
						<string>2/7/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9T5UUZVHZ</string>
						<key>name</key>
						<string>Farmacias de Similares S.A. de C.V.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A9T5UUZVHZ.com.farmaciassimilares.publicaPrecios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>A9T5UUZVHZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EmptyTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dfe1cb22-4e9f-4b10-ba39-ccbb616b18a4</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.farmaciassimilares.publicaPrecios</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A9T5UUZVHZ</string>
				<key>name</key>
				<string>Farmacias de Similares S.A. de C.V.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
